body {
    margin: 0;
    overflow-x: hidden; /* Previene el scroll horizontal */
    position: relative;
}

/* El lienzo 3D se queda fijo detrás de todo */
#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Lo pone en la capa del fondo */
    outline: none;
      display: block; 
}

/* Escondemos el H1 por ahora para solo ver la escena 3D */
h1 {
    display: none;
}
#content {
    position: relative;
    z-index: 1;
    color: white; /* Hacemos el texto blanco para que se vea */
    text-align: center;
}

.scroll-section {
    height: 100vh; /* Cada sección ocupa el alto completo de la pantalla */
    padding-top: 40vh;
    font-size: 2rem;
    font-family: sans-serif;
}
html, body {
    overflow-x: hidden;
    position: relative;
}